* {
  box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700);
html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Questrial', 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Questrial', 'Helvetica Neue', Arial, sans-serif;
}

.err {
  font-size: 1em;
  color: #ff0000;
}

/* Style for header starts */

.header {
  background-color: rgb(47, 150, 180);
}

.header h1 {
  padding: 0.8em 0 0.8em 1.4em;
  color: #fff;
  margin: 0;
  font-size: 1.4em;
}

/* Style for header ends */


/* Style for row container starts */

.row {
  display: flex;
  flex-wrap: wrap;
}

/* Style for side element starts */

.side {
  flex: 25%;
  background-color: #002e6e;
  padding: 20px;
  height: 100vh;
}

.filter-container {
  border: 1px solid #eee;
  padding: 1em;
  margin: 0.4em;
  background-color: #fff;
}

label {
  margin: 1em 0 0 0;
  display: block;
  font-size: 12px;
  color: #4d4d4d;
  font-weight: 400;
  opacity: 0.4;
}

.slider-container {
  border: 1px solid #eee;
  padding: 0.6em;
  margin: 0.4em;
  background-color: #fff;
}

.tabs {
  display: flex;
  justify-content: center;
}

.form-control {
  padding: 5px;
  width: 100%;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
}

.open > .dropdown-menu {
  display: block;
  z-index: 999;
  position: absolute;
  top: 100%;
  left: 0;
  float: left;
  width: 100%;
  padding: 5px 0;
  margin: 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

ul.dropdown-menu li {
  display: list-item;
}

ul.dropdown-menu a {
  text-decoration: none !important;
  z-index: 1;
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.btn {
  text-align: center;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #f1f1f1;
}

.btn-primary {
  background-color: #2f96b4;
  color: #fff;
  padding: 0.6em 1.8em;
}

.btn-primary:hover {
  background-color: rgb(47, 150, 180, 0.4);
  color: #fff;
}

.btn-block {
  width: 100%;
  margin-top: 1em;
}

.btn-tab {
  border-radius: 0;
}

.active {
  background-color: rgb(47, 150, 180);
  color: #fff;
}

/* Style for side element ends */


/* Style for main div starts */

.main {
  flex: 75%;
  background-color: white;
}

.main .loader {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 10em;
  text-align: center;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: '';
  position: absolute;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner .6s linear infinite;
}

.main .loader .no-results {
  color: #ccc;
}

.main-header {
  background-color: #aaa;
  color: #fff;
  padding: 1em 2em 1em 2em;
  display: flex;
  justify-content: space-between;
}

.journey-city {
  margin: auto 0;
}

.cards {
  display: flex;
}

.one-way-cards: {
  flex: 50%;
}

.flex-full {
  flex: 100%;
}

.two-way-cards: {
  flex: 50%;
}

.card {
  display: flex;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1.8em;
}

.card-body {
  padding: 0.4em;
  width: 100%;
}

.price {
  color: rgba(0, 46, 110);
  font-size: 1.8em;
}

.card-content {
  display: flex;
}

.one-way {
  flex: 80%;
  padding: 1em 0.5em;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.return {
  flex: 80%;
  padding: 1em 0.5em;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.time {
  font-size: 16px;
  color: #4a4a4a;
}

.flight {
  font-size: 12px;
  color: #4d4d4d;
  font-weight: 600;
  opacity: 0.4;
}

.type {
  font-size: 12px;
  color: #4d4d4d;
  font-weight: 600;
  opacity: 0.4;
}

.city {
  opacity: 0.4;
  font-size: 12px;
  font-weight: 600;
  color: #4d4d4d;
}

.action {
  flex: 20%;
  margin: auto;
  text-align: center;
}

/* Style for main div ends */

@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
  .card-content {
    flex-direction: column;
  }
  .card {
    flex-direction: column;
  }
}
