* {
  box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700);
html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Questrial', 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
}

hr {
  max-width: 80px;
  border-width: 3px;
  opacity: 0.09;
  margin-top: 15px;
  margin-bottom: 15px;
}

hr.light {
  border-color: #fff;
}

a {
  color: #9c27b0;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

a:hover,
a:focus {
  color: #9c27c1;
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Questrial', 'Helvetica Neue', Arial, sans-serif;
}

p {
  font-size: 17px;
  line-height: 1.7;
  margin-bottom: 20px;
}

.header h1 {
  padding: 0.8em 0 0.8em 1.4em;
  color: #002e6e;
  margin: 0;
  font-weight: normal;
  font-size: 1.6em;
  border-bottom-style: inset;
  border-width: 1.4px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 30%;
  background-color: #002e6e;
  padding: 20px;
  height: 100vh;
}

.form-control {
  padding: 5px;
  width: 100%;
  margin: 5px 0 5px 0;
}

.filter-container {
  border: 1px solid #eee;
  padding: 1em;
  margin: 0.4em;
  background-color: #fff;
}

.slider-container {
  border: 1px solid #eee;
  padding: 0.6em;
  margin: 0.4em;
  background-color: #fff;
}

.btn {
  text-align: center;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #f1f1f1;
}

.btn-primary {
  background-color: #2f96b4;
  color: #fff;
  padding: 0.6em 1.8em;
}

.btn-primary:hover {
  background-color: rgb(47, 150, 180, 0.4);
  color: #fff;
}

.btn-block {
  width: 100%;
}

.main {
  flex: 70%;
  background-color: white;
}

.main-header {
  background-color: #ccc;
  color: #fff;
  padding: 1em 0 1em 2em;
}

.card {
  display: flex;
  border: 1px solid #eee;
  padding: 1em;
  margin: 1.8em;
}

.card-body {
  padding: 0.4em;
  width: 100%;
}

.card-header {
  color: rgba(0, 46, 110);
  font-size: 1.8em;
}

.card-content {
  display: flex;
}

.one-way {
  flex: 40%;
  padding: 1em 0.5em;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.return {
  flex: 40%;
  padding: 1em 0.5em;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.time {
  font-size: 18px;
  color: #4a4a4a;
}

.flight {
  font-size: 12px;
  color: #4d4d4d;
  font-weight: 600;
  opacity: 0.4;
}

.type {
  font-size: 12px;
  color: #4d4d4d;
  font-weight: 600;
  opacity: 0.4;
}

.city {
  opacity: 0.4;
  font-size: 12px;
  font-weight: 600;
  color: #4d4d4d;
}

.action {
  flex: 20%;
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
  .card-content {
    flex-direction: column;
  }
  .card {
    flex-direction: column;
  }
}
