<!DOCTYPE html>
<html ng-app="App">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Qliktag Test</title>

  <link rel="stylesheet" type="text/css" href="./css/index.css">
  <link rel="stylesheet" type="text/css" href="./css/angular.rangeSlider.css">

</head>

<body ng-controller="mainCtrl">

  <div class="header">
    <h1>Flight Search Engine</h1>
  </div>

  <div class="row">
    <div class="side">
      <div class="filter-container" ng-init="one_way = true">
        <h4>Refine Search</h4>
        <div class="tabs">
          <button class="btn btn-block btn-tab ng-class:{'active': one_way}" ng-click="one_way = true">One Way</button>
          <button class="btn btn-block btn-tab ng-class:{'active': !one_way}" ng-click="one_way = false">Return</button>
        </div>
        <input class="form-control" type="text" placeholder="Enter Origin City" />
        <input class="form-control" type="text" placeholder="Enter Destination City" />
        <input class="form-control" type="date" />
        <input ng-hide="one_way" class="form-control" type="date" />
        <input class="form-control" type="text" placeholder="Passengers" />
        <button class="btn btn-block">Search</button>
      </div>
      <div class="slider-container">
        <h4>Refine Price</h4>
        <div range-slider min="minPrice" max="maxPrice" model-min="userMinPrice" model-max="userMaxPrice" step="5" filter="currency:'₹'"></div>
      </div>
    </div>
    <div class="main">
      <div class="main-header">
        <div class="journey-city">
          Pune > Delhi<span ng-hide="one_way"> > Pune</span>
        </div>
        <div>
          <div>Depart - 12th May</div>
          <div ng-hide="one_way">Return - 14th May</div>
        </div>
      </div>
      <flight-card ng-repeat="flight in searched_flights" flight="flight" is-one-way="one_way"></flight-card>
    </div>
  </div>

  <script type="text/javascript" src="./node_modules/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="./node_modules/angular/angular.js"></script>
  <script type="text/javascript" src="./js/angular.rangeSlider.js"></script>
  <script type="text/javascript" src="./js/app.js"></script>
</body>

</html>
